[data-transform='truncate']:not([title]) {
  position: relative;
}
[data-transform='truncate']:not([title]):after {
  background: red;
  position: absolute;
  inset: 0;
  content: 'Rule #1 violation (title-truncate)';
}
