/* Anima */

/* Four anima states */

/* - appearing */
/* - appeared */
/* - hiding */
/* - hidden */

*[data-anima='appeared'] {
  transition: all var(--duration, 300ms);
}
*[data-anima='hiding'] {
  transition: all var(--duration, 300ms);
}

/* anima-effect = opacity */

*[data-anima-effect='opacity'][data-anima='appearing'] {
  opacity: 0;
}
*[data-anima-effect='opacity'][data-anima='appeared'] {
  opacity: 1;
}
*[data-anima-effect='opacity'][data-anima='hiding'] {
  opacity: 0;
}

/* ===================== */
