.c-badge {
  padding: 0 6px;

  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.5px;
  text-align: center;
  text-transform: uppercase;

  background-color: var(--color-neutral-600);
  border-radius: 4px;
  color: var(--color-neutral-200);
}

.c-badge:hover {
  opacity: 0.9;
  transition: opacity 300ms;
}
