.c-badge {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: var(--spacing-0) var(--spacing-1-5);

  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-bold);
  letter-spacing: var(--letter-spacing-wide);
  line-height: var(--line-height-loose);
  text-align: center;
  text-transform: uppercase;

  transition:
    opacity var(--motion-medium),
    background-color var(--motion-medium);
}

.c-badge:hover {
  opacity: var(--opacity-high);
}

.c-badge[data-variant="primary"] {
  padding: var(--spacing-1) var(--spacing-1-5);
  color: var(--color-neutral-300);
  background-color: var(--color-neutral-700);
  border: none;
  border-radius: var(--radius-sm);
}

.c-badge[data-variant="outline"] {
  color: var(--color-neutral-300);
  background-color: transparent;
  border: var(--border-width-hairline) var(--border-style-solid) var(--color-neutral-400);
}
