/* Checkbox component */

@supports (appearance: none) {
  .c-checkbox {
    position: relative;
    appearance: none;
    outline: none;

    min-height: var(--size-lg);
    min-width: var(--size-lg);

    background-color: var(--color-neutral-800);
    border: var(--border-width-hairline) var(--border-style-solid) var(--color-neutral-700);
    border-radius: var(--radius-xs);

    transition:
      border-radius var(--motion-medium) ease,
      border-color var(--motion-slow) ease;
  }

  .c-checkbox:hover,
  .c-checkbox:checked {
    border-color: var(--color-neutral-300);
    border-radius: var(--radius-none);
    cursor: pointer;
  }

  .c-checkbox:checked:hover {
    border-color: var(--color-neutral-300);
    cursor: pointer;
  }

  .c-checkbox:focus {
    border: var(--border-width-hairline) var(--border-style-solid) var(--color-neutral-300);
  }

  .c-checkbox:checked::after,
  .c-checkbox:hover::after {
    position: absolute;
    content: "";

    top: 6px;
    left: 6px;
    height: 6px;
    width: 10px;
    border: var(--border-width-thin) var(--border-style-solid) var(--color-neutral-300);
    border-top: 0;
    border-right: 0;
    transform: rotate(-45deg);
  }

  .c-checkbox:hover::after {
    border-color: var(--color-neutral-400);
  }
}

/* ===================== */
