.c-checkbox {
  min-height: var(--size-lg);
  min-width: var(--size-lg);

  position: relative;

  background-color: var(--color-neutral-800);

  border: var(--border-width-hairline) var(--border-style-solid) var(--color-neutral-600);
  border-radius: var(--radius-sm);

  appearance: none;
  outline: none;

  transition: border-radius var(--motion-medium) ease;
}

.c-checkbox:hover {
  border-radius: var(--radius-none);
}

.c-checkbox:focus-visible {
  outline: var(--border-width-thin) var(--border-style-solid) var(--focus-ring-neutral);
  outline-offset: var(--border-width-thin);
  border-color: var(--color-neutral-600);
  border-radius: var(--radius-sm);
}

.c-checkbox:disabled {
  opacity: var(--opacity-medium);
  background-color: var(--color-neutral-900);
  border-color: var(--color-neutral-800);
}

.c-checkbox:checked::after {
  content: "";

  position: absolute;
  top: 6px;
  left: 6px;

  width: 10px;
  height: 6px;

  border: var(--border-width-thin) var(--border-style-solid) var(--color-neutral-300);
  border-top: 0;
  border-right: 0;

  transform: rotate(-45deg);
}
