.c-input {
  height: 36px;
  font-size: var(--font-size-sm);
  line-height: var(--line-height-tight);
  color: var(--color-neutral-100);
  padding-inline: var(--spacing-1-5);
  background-color: var(--color-neutral-800);
  border: var(--border-width-hairline) var(--border-style-solid) var(--color-neutral-600);
  border-radius: var(--radius-sm);
  outline: none;
  appearance: none;
  transition:
    border-radius var(--motion-medium) ease,
    border-color var(--motion-slow) ease;
}

.c-input:is(:hover, :focus) {
  border-color: var(--color-neutral-400);
  border-radius: var(--radius-none);
}

.c-input:disabled {
  opacity: var(--opacity-medium);
  background-color: var(--color-neutral-900);
  border-color: var(--color-neutral-800);
  pointer-events: none;
}
.c-input:disabled:hover {
  border-radius: var(--radius-sm);
}

.c-input::placeholder {
  color: var(--color-neutral-400);
  opacity: 1;
}

.c-input:invalid:not(:placeholder-shown) {
  border-color: var(--color-danger-500);
}

.c-input[type="date"] {
  font-size: var(--font-size-xs);
  border: var(--border-width-hairline) var(--border-style-solid) var(--color-neutral-900);
}

.c-input[type="date"]:placeholder-shown {
  font-size: var(--font-size-xs);
}
