.c-label {
  display: block;

  margin-block-end: var(--spacing-1-5);

  color: var(--color-neutral-300);
  font-size: var(--font-size-xs);
  line-height: var(--line-height-base);
  font-weight: var(--font-weight-medium);
  letter-spacing: var(--letter-spacing-wide);
  text-transform: uppercase;

  transition: color var(--motion-medium) var(--ease-standard);
}
