/* Link component */

.c-link {
  text-underline-offset: 4px;
  letter-spacing: 0.5px;
}

.c-link:hover {
  opacity: 0.75;
  transition: opacity 300ms;
}

.c-link[data-variant='bare'] {
  text-decoration: none;
}

/* ===================== */
