.c-link {
  text-underline-offset: 4px;
  color: #111827;
  letter-spacing: 0.5px;
}

.c-link:hover {
  opacity: 0.75;
  transition: opacity 300ms;
}

.c-link[variant='bare'] {
  text-decoration: none;
}
