.c-range {
  height: 8px;

  background: linear-gradient(
    to right,
    var(--color-neutral-500) var(--percentage, 15%),
    var(--color-neutral-700) var(--percentage, 15%)
  );

  border-radius: var(--radius-md);

  appearance: none;
}

.c-range:focus-visible {
  outline: var(--border-width-thin) var(--border-style-solid) var(--focus-ring-neutral);
  outline-offset: var(--border-width-thin);
  border-color: var(--color-neutral-600);
  border-radius: var(--radius-sm);
}

.c-range::-webkit-slider-thumb,
.c-range::-moz-range-thumb,
.c-range::-ms-thumb {
  appearance: none;
  border: none;
  border-radius: var(--radius-circle);

  width: 14px;
  height: 14px;

  background-color: var(--color-neutral-300);
}

.c-range:hover::-webkit-slider-thumb,
.c-range:hover::-moz-range-thumb,
.c-range:hover::-ms-thumb {
  background-color: var(--color-neutral-200);
}

.c-range:active::-webkit-slider-thumb,
.c-range:active::-moz-range-thumb,
.c-range:active::-ms-thumb {
  background-color: var(--color-neutral-100);
}

.c-range::-webkit-slider-runnable-track,
.c-range::-moz-range-track,
.c-range::-ms-track {
  appearance: none;
  border: none;
}
