.c-range {
  appearance: none;
  height: 8px;
  border-radius: var(--radius-md);
  background: linear-gradient(
    to right,
    var(--color-neutral-500) var(--percentage, 15%),
    var(--color-neutral-700) var(--percentage, 15%)
  );
}

.c-range::-moz-range-thumb {
  appearance: none;
  box-shadow: none;
  border: none;
  border-radius: var(--radius-circle);
  height: 14px;
  width: 14px;
  background: var(--color-neutral-300);
}
.c-range::-ms-thumb {
  appearance: none;
  box-shadow: none;
  border: none;
  border-radius: var(--radius-circle);
  height: 14px;
  width: 14px;
  background: var(--color-neutral-300);
}
.c-range::-webkit-slider-thumb {
  appearance: none;
  box-shadow: none;
  border: none;
  border-radius: var(--radius-circle);
  height: 14px;
  width: 14px;
  margin-top: var(--spacing-0);
  background: var(--color-neutral-300);
}

.c-range::-moz-range-track {
  appearance: none;
  box-shadow: none;
  border: none;
}
.c-range::-webkit-slider-runnable-track {
  appearance: none;
  box-shadow: none;
  border: none;
}
.c-range::-ms-track {
  appearance: none;
  box-shadow: none;
  border: none;
}

.c-range:focus-visible {
  outline: var(--border-width-thin) var(--border-style-solid) var(--focus-ring-neutral);
  outline-offset: var(--border-width-thin);
}
