.c-select {
  height: 36px;

  padding-right: var(--spacing-8);
  padding-left: var(--spacing-1-5);

  color: var(--color-neutral-200);
  font-size: var(--font-size-xs);
  line-height: var(--line-height-base);

  background-color: var(--color-neutral-800);

  border: var(--border-width-hairline) var(--border-style-solid) var(--color-neutral-800);
  border-radius: var(--radius-sm);

  appearance: none;
  outline: none;
  text-overflow: ellipsis;

  transition:
    border-radius var(--motion-medium) ease,
    border-color var(--motion-slow) ease;
}

.c-select:hover:not(:disabled) {
  border-color: var(--color-neutral-600);
  border-radius: var(--radius-none);
  cursor: pointer;
}

.c-select:focus-visible {
  outline: var(--border-width-thin) var(--border-style-solid) var(--focus-ring-neutral);
  outline-offset: var(--border-width-thin);
  border-radius: var(--radius-sm);
}

.c-select:disabled {
  opacity: var(--opacity-medium);
}

/* To avoid zooming on select focus on Chrome and Safari on iOS */
@media not all and (min-resolution: 0.001dpcm) {
  .c-select {
    font-size: var(--font-size-base);
  }
}

.c-select-wrapper {
  position: relative;

  width: fit-content;
}

.c-select-wrapper::after {
  content: "";

  height: 8px;
  width: 8px;

  position: absolute;
  top: 12px;
  right: 8px;

  border: var(--border-width-thin) var(--border-style-solid) var(--color-neutral-500);
  border-left: none;
  border-top: none;

  pointer-events: none;

  transform: rotate(45deg);
}
