.c-select {
  height: 36px;
  padding-right: var(--spacing-8);
  padding-left: var(--spacing-1-5);
  font-size: var(--font-size-xs);
  line-height: var(--line-height-base);

  color: var(--color-neutral-100);
  background-color: var(--color-neutral-800);
  border: var(--border-width-hairline) var(--border-style-solid) var(--color-neutral-800);
  border-radius: var(--radius-sm);

  text-overflow: ellipsis;
  appearance: none;
  user-select: none;
  outline: none;
  transition:
    border-radius var(--motion-medium) ease,
    border-color var(--motion-slow) ease;
}

.c-select:is(:hover, :focus) {
  cursor: pointer;
  border-color: var(--color-neutral-600);
  border-radius: var(--radius-none);
}

.c-select:disabled {
  opacity: var(--opacity-medium);
  background-color: var(--color-neutral-900);
  border-color: var(--color-neutral-800);
  pointer-events: none;
}

.c-select:focus-visible {
  outline: var(--border-width-thin) var(--border-style-solid) var(--focus-ring-neutral);
  outline-offset: var(--border-width-thin);
}

.c-select-wrapper {
  width: fit-content;
  position: relative;
}

.c-select-wrapper::after {
  position: absolute;
  content: "";
  top: 12px;
  right: 8px;
  height: 8px;
  width: 8px;
  border: 2px var(--border-style-solid) var(--color-neutral-300);
  border-left: none;
  border-top: none;
  transform: rotate(45deg);
}

/* To avoid zooming on select focus on Chrome and Safari on iOS */
@media not all and (min-resolution: 0.001dpcm) {
  .c-select {
    font-size: var(--font-size-base);
  }
}
