/* Switch component */

.c-switch-checkbox:checked + .c-switch-label {
  background-color: hsl(112, 50%, 45%);
}

.c-switch-checkbox:not(:checked) + .c-switch-label {
  background-color: #d1d5db;
}

.c-switch-checkbox:active + .c-switch-label {
  outline: 1px dotted black;
}

.c-switch-checkbox:focus + .c-switch-label {
  outline: 1px dotted black;
}

.c-switch-label {
  display: inline-block;
  width: 48px;
  height: 24px;
  border-radius: 15px;
  position: relative;
  cursor: pointer;
  transition: background-color 200ms ease-in-out;
}

.c-switch-slider {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 16px;
  height: 16px;
  background-color: #fff;
  border-radius: 50%;
  transition: transform 0.3s ease-in-out;
}

.c-switch-checkbox:checked + .c-switch-label .c-switch-slider {
  transform: translateX(24px);
}

/* ===================== */
