.c-textarea {
  min-block-size: 64px;
  padding: var(--spacing-2) var(--spacing-3);
  line-height: var(--line-height-base);
  resize: vertical;
}

.c-textarea[data-variant="transparent"] {
  background-color: transparent;
}

/* Prevent iOS zoom-in */
@supports (-webkit-touch-callout: none) {
  .c-textarea {
    font-size: var(--font-size-base);
  }
}
