.c-textarea {
  min-height: 64px;

  padding: var(--spacing-1-5);

  color: var(--color-neutral-100);
  font-size: var(--font-size-sm);
  line-height: var(--line-height-base);

  background-color: var(--color-neutral-800);
  border: var(--border-width-hairline) var(--border-style-solid) var(--color-neutral-800);
  border-radius: var(--radius-sm);

  appearance: none;
  resize: none;
  outline: none;

  transition:
    border-radius var(--motion-medium) ease,
    border-color var(--motion-slow) ease;
}

.c-textarea:hover {
  border-color: var(--color-neutral-600);
  border-radius: var(--radius-none);
}

.c-textarea:focus-visible {
  outline: var(--border-width-thin) var(--border-style-solid) var(--focus-ring-neutral);
  outline-offset: var(--border-width-thin);
  border-color: var(--color-neutral-600);
  border-radius: var(--radius-sm);
}

.c-textarea:disabled {
  opacity: var(--opacity-medium);
  background-color: var(--color-neutral-900);
  border-color: var(--color-neutral-800);
}

.c-textarea::placeholder {
  color: var(--color-neutral-400);
  opacity: var(--opacity-full);
}

.c-textarea:focus-visible {
  outline: var(--border-width-thin) var(--border-style-solid) var(--focus-ring-neutral);
  outline-offset: var(--border-width-thin);
}

.c-textarea:invalid:not(:placeholder-shown) {
  border-color: var(--color-danger-500);
}
